.labelNotesList {
  display: none;
  border: 1px solid red;

  &:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
  }

  &:checked {
    &:disabled + label:before {
      transform: scale(1);
      background-color: #797979;
      border-color: #1e1f1e;
    }

    & + label:before {
      background-color: #6f6f6f;
      border-color: #464947;
      color: #ffffff;
      font-weight: bold;
    }
  }

  & + label {
    margin: .2em;
    cursor: pointer;
    padding: .2em;

    &:active:before {
      transform: scale(.8);
    }

    &:before {

      content: '\2713';
      border: 2px solid #000000;
      display: block;
      line-height: 17px;
      border-radius: .2em;
      width: 24px;
      height: 24px;
      color: transparent;
      transition: .2s;
      text-align: center;
    }
  }
}

.notes-list {
  border: none;
  ul {
    padding-left: 0;
    li {
      border: 1px solid #ccc;
      padding: .8em;
      list-style-type: none;
    }
  }
}